.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--gray-500);
  width: 736px;
  height: 72px;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  padding: 16px;
  gap: 12px;
  position: relative;
}

.title {
  color: var(--gray-100);
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.titleDone {
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.checkbox,
.delete {
  background: transparent;
  align-items: center;
  border-radius: 4px;
  height: 24px;
  width: 24px;
  padding: 0;
}

.checkbox:hover {
  background-color: transparent;
}

.delete {
  position: absolute;
  right: 16px;
}

.delete img {
  cursor: pointer;
}

.delete:hover {
  background-color: var(--gray-400);
}

.delete:hover img {
  filter: invert(54%) sepia(11%) saturate(2704%) hue-rotate(313deg) brightness(85%) contrast(111%);
}